@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3 shadow">
            <div class="card-body">
                <h5>Total Students</h5>
                <h3>@ViewBag.TotalStudents</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success mb-3 shadow">
            <div class="card-body">
                <h5>Total Faculties</h5>
                <h3>@ViewBag.TotalFaculty</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3 shadow">
            <div class="card-body">
                <h5>Total Courses</h5>
                <h3>@ViewBag.TotalCourses</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-danger mb-3 shadow">
            <div class="card-body">
                <h5>Total Revenue</h5>
                <h3>@ViewBag.TotalRevenues</h3>
            </div>
        </div>
    </div>

</div>

<hr/>

<h4>Upcoming Exams</h4>

<table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
    <tr>
        <th>Subject</th>
        <th>Date</th>
        <th>Max Marks</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mathematics</td>
        <td>10 March 2026</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Physics</td>
        <td>15 March 2026</td>
        <td>100</td>
    </tr>
    </tbody>
</table>