html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Main Layout */
.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #1f2937;
    color: white;
    position: fixed;
    height: 100%;
}

/* Main Content Area */
.main {
    margin-left: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f9;
}

/* Content */
.content {
    padding: 25px;
    flex-grow: 1;
}
